.rubrik{
    height: 50px;
    width: 800px;
    margin-top: 60px;
    border-top: solid 1px #55665D;
    margin-left: 200px;
}
.container{
    height: 200px;
    width: 800px;
}
.cards{
    display: flex;
    margin-top: 100px;
    height: 200px;
    gap: 10px;
    margin-left: 170px;
}
.card{
    height: 150px;
    width: 280px;
    border: solid 1px #55665D;
    background: #283b31;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card h2{
    position: absolute;
    top: 10px;
    left: 10px;
}
.card p:first-of-type{
    position: absolute;
    left: 15px;
    color: #DD5B0C;
    top: -5px;
    padding-left: 3px;
    border-top: solid 1px #DD5B0C;
    border-bottom: solid 1px #DD5B0C;
    font-family: "Fragment Mono", monospace;
    font-size: small;
}
.card p:last-of-type{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.prices{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 850px;
    margin-left: 180px;
}
.price-child{
    width: auto;
    height: 100px;
    border-top: solid 1px #55665D;
    display: flex;
    flex-direction: column;
    position: relative;
}
.price-child h3{
    position: absolute;
    justify-self: start;
    color: #55665D;
}
.price-child p:first-of-type{
    position: absolute;
    top: 30px;
}
.price-child p:last-of-type{
    position: absolute;
    right: 10px;
}
.message-box{
    display: flex;
    height: 70px;
    width: 850px;
    margin-left: 180px;
    border: outset 2px rgb(130, 144, 3);
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
    background: #283b31;
}
.message-box p:first-of-type{
    position: absolute;
    left: 30px;
    color: rgb(130, 144, 3);
}
.message-box p:last-of-type{
    position: absolute;
    left: 5px;
    color: rgb(130, 144, 3);
    background: #283b31;
    border-radius: 50%;
    border: solid 1px rgb(130, 144, 3);
    width: 15px;
    padding-left: 8px;
}
.info-box{
    display: flex;
    height: 70px;
    width: 850px;
    margin-left: 180px;
    background: #283b31;
    margin-top: 30px;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    border: solid 1px #55665D;
}
.info-p{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 12px;
    margin-right: 40px;
    
}
.info-item h3{
    color: whitesmoke;
}

.hamburger{
    display: none;
}
@media screen and (max-width: 768px) {
    .meny{
        display: none;
    }
    .hamburger{
        display: block;
        background: #55665D;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
    }
    .navstyle{
        width: 75%;
    }
    .mobile-nav a{
        color: #DD5B0C;
    }
    summary{
        list-style: none;
    }
    .rubrik{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 40px;
        margin-top: 30px;
        padding-bottom: 20px;
    }
    .child{
        font-size: 75%;
    }
    .cards{
        flex-wrap: wrap;
        margin-left: 20px;
        flex-shrink: 10%;
        width: 200px;
    }
    .card{
        font-size: 75%;
    }
    .prices{
        width: 50%;
        padding-top: 300px;
        margin-left: 40px;
    }
    .price-child{
        font-size: 75%;
    }
    .message-box{
        width: 300px;
        margin-left: 0px;
    }
    .message-box p{
        font-size: 75%;
    }
    .info-box{
        width: 300px;
        margin-left: 0px;
    }
   
    .info-item{
        font-size: 7px;
        margin-left: 20px;
    }
    .info-item p{
        margin-left: -5px;
        font-size: 5px;
        color: whitesmoke;
    }
    .info-item h3{
        font-size: 8px;
    }
    
    
   
}
